@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Da 2", cursive;
}

.container {
  background-color: #fbf3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter-card {
  background-color: #fff;
  width: 800px;
  height: 320px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.heading-copy {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b4b92;
  border-radius: 20px 20px 0px 0px;
}

.heading-copy h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
}

.conversion-area {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding-bottom: 5%;
}

.conversion-area .fahrenheit-area {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fahrenheit-area p {
  font-size: 2rem;
  font-weight: 400;
}

#underline {
  height: 1.2px;
  width: 200px;
  background-color: #c5a4ad;
}

.fahrenheit-area input {
  border-style: none;
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.conversion-area .convert {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5b4b92;
  border-radius: 0px 0px 20px 20px;
}

.convert .convert-btn {
  width: 180px;
  height: 45px;
  border-style: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #fb7454;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.conversion-area .celsius-area {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.celsius-area p {
  font-size: 2rem;
  font-weight: 400;
}

.celsius-area #output {
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 24px;
}
